<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Self explanatory -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To call a phone number directly without displaying the dialer -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Display notification drawer -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- Ability to uninstall an app from KISS -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- Android 11 now makes listing apps a non-default permission
    https://developer.android.com/training/basics/intents/package-visibility
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- To provide access and state handling of the private space -->
    <uses-permission android:name="android.permission.ACCESS_HIDDEN_PROFILES" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".KissApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:localeConfig="@xml/locales_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor">

        <!--
        clearTaskOnLaunch: when viewing kiss settings, display the main activity when pressing home https://github.com/Neamar/KISS/issues/117
        launchMode=singleTop: call onNewIntent() when pressing home again while already viewing main activity, also redisplay main activity when viewing full-screen contact from picture
        windowSoftInputMode: hide keyboard by default
        stateNotNeeded: rebuild the whole UI each time onResume() is called
        -->
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
            <intent-filter android:label="@string/ui_search_hint">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_launcher" />
        </activity>
        <activity
            android:name=".DummyActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_setting"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickAppWidgetActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/menu_widget_add"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingTheme">
        </activity>
        <activity
            android:name=".kustomsupport.AutoFinishTransparentActivity"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name=".kustomsupport.Kustom5SecsProvider"
            android:authorities="${applicationId}.kustomsupport.kustom5secsprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <receiver
            android:name=".broadcast.LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- On incoming calls, add user to history -->
        <receiver
            android:name=".broadcast.IncomingCallHandler"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".broadcast.IncomingCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>


        <service android:name=".dataprovider.AppProvider" />
        <service android:name=".dataprovider.ContactsProvider" />
        <service android:name=".dataprovider.ShortcutsProvider" />

        <service android:name=".notification.NotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.LockAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/lock_accessibility_service_config" />
        </service>
    </application>

</manifest>
