<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.neamar.kiss">

    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <!-- Self explanatory -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To call a phone number directly without displaying the dialer -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Display notification drawer -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- Ability to uninstall an app from KISS -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".KissApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning"
        android:resizeableActivity="true"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- Can be removed once we target SDK 24+ -->
        <meta-data
            android:name="android.max_aspect"
            android:value="3.0" />

        <!--
        clearTaskOnLaunch: when viewing kiss settings, display the main activity when pressing home https://github.com/Neamar/KISS/issues/117
        launchMode=singleTop: call onNewIntent() when pressing home again while already viewing main activity, also redisplay main activity when viewing full-screen contact from picture
        windowSoftInputMode: hide keyboard by default
        stateNotNeeded: rebuild the whole UI each time onResume() is called
        -->
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_launcher" />
        </activity>
        <activity
            android:name=".DummyActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_setting"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".kustomsupport.AutoFinishTransparentActivity"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name=".kustomsupport.Kustom5SecsProvider"
            android:authorities="${applicationId}.kustomsupport.kustom5secsprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <receiver
            android:name=".broadcast.LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- On incoming calls, add user to history -->
        <receiver
            android:name=".broadcast.IncomingCallHandler"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name=".dataprovider.AppProvider" />
        <service android:name=".dataprovider.ContactsProvider" />
        <service android:name=".dataprovider.ShortcutsProvider" />

        <service android:name=".notification.NotificationListener"
            android:enabled="@bool/notification_service_enabled"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
