<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.neamar.kiss"
    android:versionCode="87"
    android:versionName="2.27.0">

    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <!-- Self explanatory -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To call a phone number directly without displaying the dialer -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To enable / disable cellular data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- To enable / disable wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- To enable / disable bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Incoming SMS sender history -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- To read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To use camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- To read/write master sync status -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- To autorotation toggle -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
        clearTaskOnLaunch: when viewing kiss settings, display the main activity when pressing home https://github.com/Neamar/KISS/issues/117
        launchMode=singleTop: call onNewIntent() when pressing home again while already viewing main activity, also redisplay main activity when viewing full-screen contact from picture
        windowSoftInputMode: hide keyboard by default
        stateNotNeeded: rebuild the whole UI each time onResume() is called
        -->
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_launcher" />
        </activity>
        <activity
            android:name="fr.neamar.kiss.SettingsActivity"
            android:label="@string/activity_setting"
            android:theme="@style/SettingTheme" />

        <!-- On new app installed or sdcard mount / unmount refresh the list -->
        <receiver android:name=".broadcast.PackageAddedRemovedHandler">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <action android:name="android.intent.action.ACTION_MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_MEDIA_REMOVED" />

                <data android:scheme="file" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- On incoming messages, add user to history -->
        <receiver
            android:name=".broadcast.IncomingSmsHandler"
            android:enabled="false"
            tools:ignore="UnprotectedSMSBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- On incoming calls, add user to history -->
        <receiver
            android:name=".broadcast.IncomingCallHandler"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- Intents received used to install/uninstall shortcuts from other applications -->
        <receiver
            android:name=".broadcast.InstallShortcutHandler"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.UninstallShortcutHandler"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <service android:name=".dataprovider.AliasProvider" />
        <service android:name=".dataprovider.AppProvider" />
        <service android:name=".dataprovider.ContactsProvider" />
        <service android:name=".dataprovider.PhoneProvider" />
        <service android:name=".dataprovider.SearchProvider" />
        <service android:name=".dataprovider.SettingsProvider" />
        <service android:name=".dataprovider.ShortcutsProvider" />
        <service android:name=".dataprovider.TogglesProvider" />
    </application>

</manifest>