/* Styles of sidebars */
hr.delimit-sidebar {
    margin-bottom: 0;
    margin-top: 0;
}

div.sidebar {
    padding: 5px;
    font-size: 90%;
    border-left: 1px solid black;
}

div.titlepage {
    font-weight: bold;
}

/* Styles of block URLs */
div.url {
    margin-top: 0.5em;
}
