body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 250
}

h1, h2 {
  color: #66BB6A;
  font-weight: 100
}

.highlighter-rouge {
  color: #66BB6A;
  font-size: 1.2rem;
}

.answer img {
  width: 400px;
  max-width: 100%;
  display: block;
  margin: auto;
}
